doctype html
html
    head
        title 介绍
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/book_info.css")
        script.
            var text = "<script src='js/book_info.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);


        include ./include/top
        include ./include/title
        include ./include/book_chapter_list
        include ./include/index_list2

    body

        +top(['my','coll'],false)


        //书详情
        div(class='bookinfo box_h border_box')
            img(src='./image/temp/1.jpg')
            div(class='boxflex1')
                div(class='bookinfo_tilte box_h center_s')
                    p 限免
                    div(class='boxflex1 diandian center_s') 书名书名书名书名书名书名书名书名书名书名书名书名书名书名书名书名书名书名
                div(class='bookinfo_type box_h')
                    p 完结
                    div(class='boxflex1 diandian center_s') 穿越／欧美
                div(class='bookinfo_text') 字数：993.33万字
                div(class='bookinfo_auth') 文／紫檀
        div(class='bookinfo_btns box_h border_box')
            a(href='#' class='bookinfo_btns_read') 开始阅读
            div(class='boxflex1')
            a(href='#' class='bookinfo_btns_chas') 追书


        //作品简介
        div(class='content box_s')
            +title('作品简介',1,false,false)
            div(class='bookinfo_info')
                div(class='bookinfo_info_main bookinfo_info_show_zz')
                    p 阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥阿迪会计法看世界的风啊矢口抵赖风景啊开始的减肥
                    a(class='bookinfo_info_more' id='bookinfo_info_more') 展开
            div(class='box_h')
                div(class='bookinfo_info_state') 已完结
                div(class='boxflex1')
                    div(class='bookinfo_info_title diandian') 最新：阿迪时间发空间到风口浪尖阿斯顿风口浪尖阿里卡独家发售看了都放假啦开始的减肥卢卡斯觉得分开了
                    div(class='bookinfo_info_time') 2018/01/34 17:33


        //目录列表
        div(class='content box_s')
            +title('目录',4,false,false)
            +bookChapterList(4)
            div(class='bookinfo_info_more_btn')
                div
                    a(href='#')
                        span 更多章节


        //猜你喜欢
        div(class='content box_s')
            +title('猜你喜欢',1,false,true)
            +indexList2(2)