doctype html
html
    head
        title 预约挂号
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/index.css")
        script.
            var text = "<script src='js/dist/index.min.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);


    body

        div 123