doctype html
html
    head
        title 小说
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/index.css")
        script.
            var text = "<script src='js/index.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);


        include ./include/top
    body

        +top(['my','coll'],true)
