mixin menu()
    div(class='all_menu_body hover_animate1' id='all_menu')
        div(class='all_menu hover_animate1' id='all_menu_body')
            a(class='not_use') PRINCESS
            a(href='#') EMPRESS
            a(href='#') ETERNAL
            a(href='#') MARRIAGE SERIES
            a(href='#') ABOUT
            a(href='#') CONTACT
            a(href='#') CART

            div(class='all_menu_lan')
                p(class='select') EN
                p CN
