mixin menu()
    div(class='all_menu_body hover_animate1' id='all_menu')
        div(class='all_menu hover_animate1' id='all_menu_body')
            a(href='info.html') PRINCESS
            a(class='not_use') EMPRESS
            a(class='not_use') ETERNAL
            a(class='not_use') MARRIAGE SERIES
            a(class='not_use') ABOUT
            a(class='not_use') CONTACT
            a(class='not_use') CART

            div(class='all_menu_lan not_use')
                p(class='select') EN
                p CN
