mixin top()
    div(class='all_top')
        div(class='all_top_logo hover_animate' id='all_top_logo')
            div(class='all_top_logo_bg hover_animate' id='all_top_logo_bg')
                img(src='image/logo_out.png')
            div(class='all_top_logo_img')
                img(src='image/logo_in.png')
        div(class='all_top_menu' id='all_top_menu')
            span(class='all_menu_line1 hover_animate')
            span(class='all_menu_line2 hover_animate')
            span(class='all_menu_line3 hover_animate')