mixin urls()
    div(class='all_info_url')
        a(href='#')
            img(src='./image/product/inslogo.png')
        a(href='#')
            img(src='./image/product/facebooklogo.png')
        a(href='#')
            img(src='./image/product/weibologo.png')