doctype html
html
    head
        title B/B
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/index.css")
        script.
            var text = "<script src='js/index.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);


        include ./include/top
        include ./include/menu

    body

        +top()
        +menu()

        div(class='page1')
            div(class='page1_logo')
                img(src='image/index/page1_logo.png')
            div(class='page1_line')


        div(class='page2')
            div(class='page2_img')
                a(href='info.html')
                    img(src='image/index/page2_product.png')
            div(class='page2_text')
                img(src='image/index/page2_text.png')
            div(class='page2_info')
                img(src='image/index/page2_info.png')


        div(class='page3')
            div(class='page3_img')
                img(src='image/index/page3_img.jpg')
            div(class='page3_title pertili')
                p BRAND
                p PRODUCT
            div(class='page3_text helvetica')
                p BLOOM BOWKNOT HYDRATING LUSTRE LIPSTICK WE CREATED A LIPSTICK. WHICH COULD BRING THE NOBLE EXPERIENCE OF USE AND PERCEPTION TO EVERY FEMALE. EACH ONE OF THE LIPSTICK IS MADE OF HAND GRINDING ALLOY. WITH CRYSTAL INLAID. ALL LIPSTICKS ARE SPARKLING WITH DAZZLING LIGHT. COLOR AND LUSTRE OF THIS BULK IS BRIGHT AND FRESH. IT IS CLASSIC, DELIVERING FEELING WITH ENERGY AND PARTICULAR CHARM OF WOMEN. PURSUING CONSONANT LIP’S COLOR AND LUSTRE, ALSO MAINTAIN THE SMOOTHNESS AND MOISTURE OF LIPS.
            div(class='page3_info')
                img(src='image/index/page3_info.png')


        div(class='page4')
            div(class='page4_img1')
                img(src='image/index/page4_img1.png')
            div(class='page4_img2')
                img(src='image/index/page4_img2.png')
            div(class='page4_img3')
                img(src='image/index/page4_img3.png')
            div(class='page4_img4')
                img(src='image/index/page4_img4.png')
            div(class='page4_img5')
                img(src='image/index/page4_img5.png')


        div(class='page5')
            div(class='page5_img1')
                img(src='image/index/page5_img1.png')
            div(class='page5_img2')
                img(src='image/index/page5_img2.png')
            div(class='page5_img3')
                img(src='image/index/page5_img3.png')
            div(class='page5_img4')
                img(src='image/index/page5_img4.png')
            div(class='page5_img5')
                img(src='image/index/page5_img5.png')
            div(class='page5_img6')
                img(src='image/index/page5_img6.png')
            div(class='page5_img7')
                img(src='image/index/page5_img7.png')










