doctype html
html
    head
        title B/B
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/info.css")
        script.
            var text = "<script src='js/info.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);


        include ./include/top
        include ./include/menu

    body

        +top()
        +menu()

        div(class='info_banner')
            div(class='info_banner_main')
                a
                    img(id='color_img' src='image/product/1/color_product_1.png')

            div(class='info_name')
                p
                    span(class='info_name_price' id='color_price') $38
                    span /
                    span(class='info_name_text' id='color_name1') ISABELLA 128
                p(class='info_number') 1/1

        div(class='info_colors')
            span(class='info_name_text') COLOR :
            span(class='info_colors_name' id='color_name2') ISABELLA 128

        div(class='info_colors_div' id='info_colors_div')
            p(data-id='1' class='select')
                img(src='./image/product/1/color_ys_1.png')
            p(data-id='2')
                img(src='./image/product/1/color_ys_2.png')
            p(data-id='3')
                img(src='./image/product/1/color_ys_3.png')
            p(data-id='4')
                img(src='./image/product/1/color_ys_4.png')


        div(class='info_title') QTY
        div(class='info_buy_number' id='show_number')
            span 1
            select(id='number_select')
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5

        div(class='info_info_body' id='info_info_body')
            div(class='info_info hover_animate1 select')
                div(class='info_info_title diandian')
                    span QUERY DELIVERY TIME
                    div(class='info_info_icon')
                        span(class='hover_animate1')
                        span(class='hover_animate1')
                p dafjajfkjaslkjf aslkjfdklasjdf akldfjlaksdf aslkdfjaskldfj asldkfjaslkdfja aslkdjfkal;sdjfa asdflkjalskjdf asldfjasljd asdfjasldfkja
            div(class='info_info hover_animate1 select')
                div(class='info_info_title diandian')
                    span GOODS DESCRIPTION
                    div(class='info_info_icon')
                        span(class='hover_animate1')
                        span(class='hover_animate1')
                p dafjajfkjaslkjf aslkjfdklasjdf akldfjlaksdf aslkdfjaskldfj asldkfjaslkdfja aslkdjfkal;sdjfa asdflkjalskjdf asldfjasljd asdfjasldfkja
            div(class='info_info hover_animate1 select')
                div(class='info_info_title diandian')
                    span PRODUCT FORMULA
                    div(class='info_info_icon')
                        span(class='hover_animate1')
                        span(class='hover_animate1')
                p dafjajfkjaslkjf aslkjfdklasjdf akldfjlaksdf aslkdfjaskldfj asldkfjaslkdfja aslkdjfkal;sdjfa asdflkjalskjdf asldfjasljd asdfjasldfkja
            div(class='info_info hover_animate1 select')
                div(class='info_info_title diandian')
                    span FINAL MAKEUP EFFECT
                    div(class='info_info_icon')
                        span(class='hover_animate1')
                        span(class='hover_animate1')
                p dafjajfkjaslkjf aslkjfdklasjdf akldfjlaksdf aslkdfjaskldfj asldkfjaslkdfja aslkdjfkal;sdjfa asdflkjalskjdf asldfjasljd asdfjasldfkja
            div(class='info_info hover_animate1 select')
                div(class='info_info_title diandian')
                    span COLOR
                    div(class='info_info_icon')
                        span(class='hover_animate1')
                        span(class='hover_animate1')
                p dafjajfkjaslkjf aslkjfdklasjdf akldfjlaksdf aslkdfjaskldfj asldkfjaslkdfja aslkdjfkal;sdjfa asdflkjalskjdf asldfjasljd asdfjasldfkja



        div(class='info_logo')
            img(src='./image/product/logo.png')


        div(class='info_url')
            a(href='#')
                //img(src='./image/product/inslogo.png')
            a(href='#')
                //img(src='./image/product/facebooklogo.png')
            a(href='#')
                //img(src='./image/product/weibologo.png')


        div(class='info_add not_use')
            img(src='./image/product/add.png')


