.all_top{
    position: fixed; left:0; top:0; z-index:100;
    width: 100%; height: 20.3vw;
}


/*左logo*/
.all_top_logo{
    position:absolute; left:7vw; bottom: 0;
}
.all_top_logo_bg{
    width: 13.4vw;
}
.all_top_logo_bg img{
    width: 100%;
}
.all_top_logo_img{
    width:13.4vw;  z-index: 10; left:0; top:0; position: absolute;
}
.all_top_logo_img img{
    width: 100%;
}

/*右菜单*/
.all_top_menu{
    position:absolute; right:7vw; bottom: 0;
    width: 9.375vw; height: 9.375vw;
}
.all_top_menu span{
    display: block; height: 8px; width: 100%;
    border-top:2px solid #a68579;
    -webkit-transform-origin:center 1px;
    -moz-transform-origin:center 1px;
    -ms-transform-origin:center 1px;
    -o-transform-origin:center 1px;
    transform-origin:center 1px;
}


.all_top .select .all_menu_line1{
    -webkit-transform: translateY(8px) rotate(135deg);
    -moz-transform: translateY(8px) rotate(135deg);
    -ms-transform: translateY(8px) rotate(135deg);
    -o-transform: translateY(8px) rotate(135deg);
    transform: translateY(8px) rotate(135deg);
}
.all_top .select .all_menu_line2{
    opacity: 0; width: 0;
}
.all_top .select .all_menu_line3{
    -webkit-transform: translateY(-8px) rotate(-135deg);
    -moz-transform: translateY(-8px) rotate(-135deg);
    -ms-transform: translateY(-8px) rotate(-135deg);
    -o-transform: translateY(-8px) rotate(-135deg);
    transform: translateY(-8px) rotate(-135deg);
}

