doctype html
html
    head
        title ARTIST
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/show.css")
        script.
            var text = "<script src='js/artist.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);

        include ./include/top
        include ./include/menu

    body


        +top()
        +menu()

        div
            div(class='show_pc_bg' id='show_pc_bg')

        div(class='show_border show_border1' id='show_border')
            div(class='show_border_left')
            div(class='show_border_right')

        div(class='show_scroll' id='show_scroll')
            div(class='show_scroll_main hover_animate' id='show_scroll_main')


        div(class='show_pc_title' style='overflow:hidden;')
            div(class='show_titleM')
                div(class='show_title') ARTIST
                br
                div(class='show_number')
                    p /
                    div(id='people_number')
                    p peoples


        div(class='show_list')
            div(class='show_list_center' id='list_main')



        a(class='show_item' id='list' href='#' style='display:none;')
            div(class='show_pc_infos' style='overflow:hidden;')
                div(class='artist_item_name')
                    div(class='show_item_title diandian')
                    br
                    p(class='show_item_info hover_animate1 diandian')
            div(class='_artist_item_name')
            p(class='show_item_line hover_animate1')
            div(class='show_img')
                img(src='#')