doctype html
html
    head
        title ARTIST
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/show.css")
        script.
            var text = "<script src='js/artist_info.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);

        include ./include/top
        include ./include/menu

    body


        +top()
        +menu()

        a(href='javascript:window.location.href="artist.html"' class='show_info_close hover_animate')

        div
            div(class='show_pc_bg' id='show_pc_bg')

        div(class='show_border show_border1' id='show_border')
            div(class='show_border_left')
            div(class='show_border_right')

        div(class='show_scroll' id='show_scroll')
            div(class='show_scroll_main hover_animate' id='show_scroll_main')



        div(class='show_pc_title' style='overflow:hidden;')
            div(class='show_titleM')
                div(class='show_title' id='name')
                br
                div(class='show_number artist_info_number')
                    p /
                    div(id='work_number')
                    p paintings


        div(class='show_list' style='padding-top:50px;')
            div(id='lists' class='show_list_body11')



        //clone
        div(class='artist_info_item' id='list' style='display:none;')
            img(src='#')