doctype html
html
    head
        title ARTIST
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/show.css")
        script.
            var text = "<script src='js/artist_info.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);

        include ./include/top
        include ./include/menu

    body


        +top()
        +menu()

        div(style='overflow:hidden;')
            div(class='show_titleM')
                div(class='show_title diandian' id='name')
                br
                div(class='show_number artist_info_number')
                    p /
                    div(id='work_number')
                    p paintings


        div(class='show_list' id='lists')



        //clone
        div(class='artist_info_item' id='list' style='display:none;')
            img(src='#')