doctype html
html
    head
        title ART SPACE
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/show.css")
        script.
            var text = "<script src='js/contact.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);

        include ./include/top
        include ./include/menu

    body


        +top()
        +menu()

        div(class='contact_body')
            div(class='contact_pc_main11')
                div(class='contact_title') CONTACT
                div(class='contact_map' id='map')
                    p MAP

                div(class='contact_main')

                    div(class='contact_t') -M-
                    p AURA SPACE

                    div(class='contact_t') ADDRESS
                    p GLOBAL CENTER W1-1119

                    div(class='contact_t') CITY
                    p CHENG DU.CHINA

                    div(class='contact_t') EMAIL
                    a(href='mailto:linye_helen@163.com') elenalin_aura@163.com

                    div(class='contact_t') PHONE
                    a(href='tel:+8602863168158') +86 028-63168158

        div(class='contact_map_pc')
            img(class='position_center' src='image/map.png')

        div(class='contact_map_body' id='map_body')
            div(class='contact_map_img')
            div(class='contact_map_title') Cheng Du Global Center
            div(class='contact_map_info')
                div W1.1119
                p AURA SPACE