doctype html
html
    head
        title AURA SHOW
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/show.css")
        script.
            var text = "<script src='js/show.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);

        include ./include/top
        include ./include/menu

    body


        +top()
        +menu()

        div
            div(class='show_pc_bg' id='show_pc_bg')

        div(class='show_border' id='show_border')
            div(class='show_border_left')
            div(class='show_border_right')

        div(class='show_scroll' id='show_scroll')
            div(class='show_scroll_main hover_animate' id='show_scroll_main')


        div(class='show_pc_title' style='overflow:hidden;')
            div(class='show_titleM')
                div(class='show_title') AURA SHOW
                br
                div(class='show_number')
                    p /
                    div(id='show_number')
                    p projects


        div(class='show_list')
            div(class='show_list_center' id='show_list')



        //clone
        a(class='show_item ' href='#' id='list' style='display:none;')
            div(class='show_pc_infos')
                p(class='show_item_time hover_animate1')
                div(class='show_item_title')
                p(class='show_item_info hover_animate1')
            p(class='show_item_line hover_animate1')
            div(class='show_img')
                img(src='#')