doctype html
html
    head
        title art space
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/show.css")
        script.
            var text = "<script src='js/show.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);

        include ./include/top
        include ./include/menu

    body


        +top()
        +menu()


        div(class='show_title') AURA SHOW
        div(class='show_number')
            p /
            div 26
            p projects


        div(class='show_list')

            -for(var i=0;i<3;i++)
                a(class='show_item' href='#')
                    p(class='show_item_time hover_animate') 2018
                    div(class='show_item_title') djfkajsdklfjaskldjfkajsdklfjaskldjf
                    p(class='show_item_info hover_animate') kajsdklfjaskldjfkajsdklfjasdjf
                    p(class='show_item_line hover_animate')
                    div(class='show_img')
                        img(src='./image/temp/t1.png')

