doctype html
html
    head
        title ARt SPACE
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/show.css")
        script.
            var text = "<script src='js/show_info.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);

        include ./include/top
        include ./include/menu

    body


        +top()
        +menu()

        div(class='show_info_body')
            div(class='show_info_top')
                div(class='show_info_bg' id='bg' style='background-image:none;')
                    div(class='show_info_bg_main')

                div(class='show_info_top_main')
                    div(class='show_info_top_title' id='title')
                    div(class='show_info_top_info' id='info')
                    div(class='show_info_top_address' id='address')
                    div(class='show_info_top_name' id='organizer')
                    div(class='show_info_top_time' id='time')
                    div(class='show_info_top_img')
                        img(id='img' src='#')
            div(class='show_info_bottom')
                div(class='show_info_bottom_text' id='text')
                    //p asdjfaskjdfkasjdfaskldfjaklsjdfklasjdfkljaskldfjaslkdjflkasdjfklasjdfklasjdflksadklfjaslkdfjsaldfj
                    //p asdjfaskjdfkasjdfaskldfjaklsjdfklasjdfkljaskldfjaslkdjflkasdjfklasjdfklasjdflksadklfjaslkdfjsaldfj

                a(href='contact.html' class='show_info_bottom_btn')
                    p CONTACT

            div(class='show_info_footer')


                div(class='show_info_bottom_info')
                    span A
                    span U
                    span R
                    span A
                    span S
                    span P
                    span A
                    span C
                    span E