doctype html
html
    head
        title ARt SPACE
        include ./include/head

        link(rel="stylesheet" type="text/css" href="css/show.css")
        script.
            var text = "<script src='js/show_info.js?_=" + new Date().getTime() + "'><\/script>";
            document.write(text);

        include ./include/top
        include ./include/menu

    body


        +top()
        +menu()

        div(class='show_info_body')
            div(class='show_info_top')
                div(class='show_info_bg' style='background-image:url(./image/temp/t1.png);')
                    div(class='show_info_bg_main')

                div(class='show_info_top_main')
                    div(class='show_info_top_title') adskfjaksldjfklasdjf
                    div(class='show_info_top_info') adskfjaksldjfklasdjfadskfjaksldjfklasdjfadskfjaksldjfklasdjfadskfjaksldjfklasdjfadskfjaksldjfklasdjfadskfjaksldjfklasdjf
                    div(class='show_info_top_address') asdfasdkfjaksldjfklasjdfklajsdlkfjsakdlfjksaldjfksdf
                    div(class='show_info_top_name') AURA SPACE
                    div(class='show_info_top_time') (2018.4.22-5.10)
                    div(class='show_info_top_img')
                        img(src='./image/temp/t1.png')
            div(class='show_info_bottom')
                div(class='show_info_bottom_text')
                    p asdjfaskjdfkasjdfaskldfjaklsjdfklasjdfkljaskldfjaslkdjflkasdjfklasjdfklasjdflksadklfjaslkdfjsaldfj
                    p asdjfaskjdfkasjdfaskldfjaklsjdfklasjdfkljaskldfjaslkdjflkasdjfklasjdfklasjdflksadklfjaslkdfjsaldfj

                a(href='contact.html' class='show_info_bottom_btn')
                    p CONTACT

            div(class='show_info_footer')


                div(class='show_info_bottom_info')
                    span A
                    span U
                    span R
                    span A
                    span S
                    span P
                    span A
                    span C
                    span E