mixin bookChapterList(n)
    //章节列表开始
    //vip章节 加class=vip 不是的去掉class的vip
    -for(var i=0;i<n;i++)
        a(href='#' class='box_s book_chapter_list border_box vip')
            div(class='all_book_chapter_title diandian') 第一章：阿斯顿开发了将卡觉得分开垃圾阿迪深刻了风景啊开始的计分卡拉升空间里发的
            div(class='all_book_chapter_time diandian') 2018/1/5 13:33


    //章节列表结束