mixin indexList2(row)
    div(class='box_s')
        div(class='box_h')
            div(class='index_list2_item box_s')
                img(src='image/temp/1.jpg')
                div(class='index_list2_item_name diandian2') 阿萨德飞机阿斯利康大姐夫卡拉胶啊速度快放假奥斯卡的骄傲克鲁赛德积分卡设计费
