mixin indexList3()
    a(href='#' class='box_s index_list3 border_box')
        div(class='index_list3_main')
            div(class='box_h')
                div(class='index_list3_title boxflex1 diandian') 啊速度快放假啊跨世纪的饭卡了坚实的饭卡世纪东方ad副科级阿萨德科技楼发生借款代理费
                div(class='index_list3_auth') 文/紫檀
            div(class='index_list3_info diandian2') 啊速度快放假啊跨世纪的饭卡了坚实的饭卡世纪东方ad副科级阿萨德科技楼发生借款代理费啊速度快放假啊跨世纪的饭卡了坚实的饭卡世纪东方ad副科级阿萨德科技楼发生借款代理费