mixin kh()
    div(class='all_kh_title') 客服
    div(class='box_h all_kh_main center_s')
        div(class='boxflex1 box_s')
            div(class='all_kh_row')
                p 客服时间:
                span 周一到周五 9:00-18:09
            div(class='all_kh_row')
                p 客服电话:
                span 027-87293128
            div(class='all_kh_row')
                p 客服QQ:
                span 2986146492
        img(src='./image/temp/2m.jpeg')