mixin libraryList(n)
    //书库列表开始
    -for(var i=0;i<n;i++)
        a(href='#' class='all_library_list border_box')
            div(class='all_library_list_main box_h')
                img(src='./image/temp/1.jpg')
                div(class='boxflex1 box_s')
                    div(class='all_library_list_title diandian') 阿迪看风景啊空间地方阿三开的风景克拉技术的风卡拉斯京地方阿迪十分恐惧
                    div(class='all_library_list_info diandian') 阿迪看风景啊空间地方阿三开的风景克拉技术的风卡拉斯京地方阿迪十分恐惧
                    div(class='all_library_list_time diandian') 1分钟前读过

    //书库列表结束