mixin rankingList(n)
    //排名4-10开始
    -var nn = n || 7;
    -for(var i=0;i<nn;i++)
        a(href='#' class='all_ranking_list border_box')
            div(class='all_ranking_list_main box_h center_s')
                -var val = i+4
                -var iconClass = 'all_ranking_list_icon'+val
                span(class=iconClass)=val
                p(class='boxflex1 diandian') 阿迪会计法空间地方卡上的减肥卡拉斯京地方克拉技术的开发了就阿斯科利的风景啊开始了江东父老卡技术

    //排名4-10结束