mixin searchTop()
    div(class='all_searchTop_')
    div(class='all_searchTop border_box box_h center_s')
        input(class='__all_search__ boxflex1' type='search' name='search' id='search' placeholder='输入关键字')
        a(class='all_search_top_cancel' href='javascript:history.go(-1);') 取消