mixin searchList(n)
    -for(var i=0;i<n;i++)
        a(href='#' class='all_search_list')
            div(class='all_search_list_main box_h')
                img(src='./image/temp/1.jpg')
                div(class='boxflex1 box_s')
                    div(class='all_search_list_title diandian') 阿双方将卡开始的计分卡世界的风卡拉斯京到风口浪尖阿斯科利都放假阿克琉斯肌肤
                    div(class='all_search_list_types box_h')
                        //class:all_search_type1  灰色框
                        //class:all_search_type2  橙色框
                        //class:all_search_type3  绿色框
                        span(class='all_search_type1') 穿越
                        span(class='all_search_type2') 完结
                        span(class='all_search_type3') 139万字

                    div(class='all_search_last_p diandian') 最新：第一阿斯顿发空间阿斯科利都放假第一阿斯顿发空间阿斯科利都放假
                    div(class='box_h')
                        div(class='all_search_update_time boxflex1 diandian') 更新时间：2018／1／5
                        div(class='all_search_auth diandian')    文／紫檀