mixin tab(name1,name2)
    //选中的tab样式需要加class=select
    //使用参见第一个a标签
    div(class='box_h all_tab_main')
        a(href='#' class='all_tab_item select')=name1
        a(href='#' class='all_tab_item')=name2
