mixin title(name,type,showIcon,showRefresh,showOrder)
    -var typeClass = 'all_title_type'+type;
    -var iconClass = (showIcon)? 'all_title_icon' : '';
    div(class='all_title box_h center_s')
        div(class='all_title_name '+typeClass+' '+iconClass)=name
        if(showRefresh)
            a(class='all_title_refresh') 换一换
        if(showOrder)
            a(class='all_title_order') 倒序