mixin top(opt,isIndex)
    //顶部条开始
    div(class='top box_h center_s')
        div(class='boxflex1 box_h')
            if(isIndex)
                div(class='top_logo')
            else
                a(class='top_back' href='javascript:history.go(-1);') 返回

                div(class='top_pos diandian')
                    span 首页
                    span 目录
                    span 章节


        div(class='top_icons center_s align_right')
            - for (var x = 0; x < opt.length; x++)
                if(opt[x] == 'home')
                    a(href='#' class='top_home')
                if(opt[x] == 'dir')
                    a(href='#' class='top_dir')
                if(opt[x] == 'my')
                    a(href='#' class='top_my')
                        img(src='image/temp/icon.jpeg')
                if(opt[x] == 'coll')
                    a(href='#' class='top_coll')



    //顶部条结束
