.top{
    width: 100%; height: 0.9rem; background: rgb(251,133,92);
    color: #fff; font-size: 0.3rem; overflow: hidden;
}
.top_logo{
    width: 1.9rem; height: 0.5rem; margin-left: 0.2rem;
    background: url(../image/logo.png) no-repeat center center;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;;
}

.top_icons{
    width: 2.8rem; height: 0.9rem;
}
.top_icons a{
    margin: 0 0.15rem;
}
.top_home{
    display: block;
    width: 0.61rem; height: 0.61rem;
    background:url(../image/top/home.png) no-repeat center center;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.top_my{
    display: block;
    width: 0.57rem; height: 0.57rem;
    background: #fff;
    -webkit-border-radius:0.61rem;
    -moz-border-radius:0.61rem;
    border-radius:0.61rem;
    border: 0.02rem solid #fff;
    overflow: hidden;
}
.top_my img{
    width: 100%; height: 100%;
}
.top_dir{
    display: block;
    width: 0.61rem; height: 0.61rem;
    background:url(../image/top/lib.png) no-repeat center center;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.top_coll{
    display: block;
    width: 0.61rem; height: 0.61rem;
    background:url(../image/top/bookshelf.png) no-repeat center center;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}


.top_back{
    display: none; color: #fff;
    padding-left:0.3rem; margin-left: 0.06rem;
    background: url(../image/top/arrow_left.png) no-repeat left center;
    -webkit-background-size:0.3rem 0.3rem;
    background-size:0.3rem 0.3rem;

}
.top_pos{
    padding-left: 0.2rem; display: none;
}
.top_pos span{
    padding-right: 0.3rem;
    background: url(../image/top/arrow_right.png) no-repeat right center;
    -webkit-background-size:0.3rem 0.3rem;
    background-size:0.3rem 0.3rem;
}
.top_pos span:last-child{
    background: none;
}




.all_title{
    width: 100%; height: 0.8rem; background: #fff; position: relative;
}
.all_title_name{
    padding:0 0.4rem 0 0.5rem; font-size: 0.3rem; height: 0.8rem;
    position: relative; line-height: 0.82rem;
}
.all_title_icon:after{
    content: '';
    position: absolute; right: 0; top: 0;
    width: 0.24rem; height: 0.8rem;
    background:url(../image/hot.png) no-repeat center center;
    -webkit-background-size:0.24rem 0.27rem;
    background-size:0.24rem 0.27rem;
}
.all_title_refresh{
    position: absolute; right: 0; top: 0;
    width: 1rem; height: 0.8rem;
    padding-left: 0.3rem; line-height: 0.8rem;
    font-size: 0.26rem; color: rgb(154,154,154);
    background:url(../image/refresh.png) no-repeat left center;
    -webkit-background-size:0.21rem 0.21rem;
    background-size:0.21rem 0.21rem;
}
.all_title_type1{
    color: rgb(251,127,86);
    background: url(../image/title1.png) no-repeat 0.2rem center;
    -webkit-background-size:0.11rem 0.42rem;
    background-size:0.11rem 0.42rem;
}
.all_title_type2{
    color: rgb(70,195,127);
    background: url(../image/title2.png) no-repeat 0.2rem center;
    -webkit-background-size:0.11rem 0.42rem;
    background-size:0.11rem 0.42rem;
}
.all_title_type3{
    color: rgb(252,96,57);
    background: url(../image/title3.png) no-repeat 0.2rem center;
    -webkit-background-size:0.11rem 0.42rem;
    background-size:0.11rem 0.42rem;
}
.all_title_type4{
    color: rgb(29,202,206);
    background: url(../image/title4.png) no-repeat 0.2rem center;
    -webkit-background-size:0.11rem 0.42rem;
    background-size:0.11rem 0.42rem;
}
.all_title_type5{
    color: #333;
    padding-left: 0.65rem;
    background: url(../image/wx_icon.png) no-repeat 0.2rem center;
    -webkit-background-size:0.3rem 0.25rem;
    background-size:0.3rem 0.25rem;
}



.all_kh_title{
    height: 0.9rem; line-height: 0.9rem;
    font-size: 0.3rem; padding-left: 0.5rem;
    background: url(../image/kh.png) no-repeat 0.11rem center;
    -webkit-background-size:0.29rem 0.25rem;
    background-size:0.29rem 0.25rem;
}
.all_kh_main{
    width: 100%; padding: 0.2rem 0 0.2rem 0;
}
.all_kh_main img{
    display: block; margin: 0 0.2rem;
    width: 1.55rem; height: 1.55rem;
}
.all_kh_row{
    line-height: 0.55rem; font-size: 0.24rem; color: #333;
    padding-left: 0.2rem;
}
.all_kh_row p{
    color: #999; padding-right: 0.1rem; display: inline-block;
}


.footer{
    width: 100%; text-align: center;
    font-size: 0.24rem; color: rgb(154,154,154);
    line-height: 0.34rem;
    padding: 0.2rem 0;
}


.all_filter_title{
    padding: 0 0.15rem; height: 0.85rem; font-size: 0.3rem; color: #333;
    background: #fff;
}
.all_filter_title_main{
    width: 100%; height: 0.83rem;
    border-bottom:1px solid rgb(154,154,154);
}
.all_filter_title_name{
    padding: 0 0.5rem; line-height: 0.85rem;
}
.all_filter_title_icon1{
    background: url(../image/filter_icon1.png) no-repeat left center;
    -webkit-background-size:0.33rem 0.33rem;
    background-size:0.33rem 0.33rem;
}
.all_filter_title_icon2{
    background: url(../image/filter_icon2.png) no-repeat left center;
    -webkit-background-size:0.36rem 0.36rem;
    background-size:0.36rem 0.36rem;
}
.all_filter_title_icon3{
    background: url(../image/filter_icon3.png) no-repeat left center;
    -webkit-background-size:0.36rem 0.36rem;
    background-size:0.36rem 0.36rem;
}
.all_filter_title_icon4{
    background: url(../image/filter_icon4.png) no-repeat left center;
    -webkit-background-size:0.36rem 0.36rem;
    background-size:0.36rem 0.36rem;
}
.all_filter_title_all{
    display: block; color: rgb(34,177,152);
    font-size: 0.28rem; text-align: right;
    width: 1.3rem; height: 0.85rem; line-height: 0.85rem;
    padding: 0 0.1rem;
}

.all_filter_list{
    padding: 0.2rem; overflow: hidden; background: #fff;
}
.all_filter_list_item{
    width: 25%; font-size:0.28rem; color:rgb(154,154,154);
    display: block; float: left; height: 0.5rem; text-align: center;
}

.all_search_list{
    padding: 0.38rem 0.38rem 0 0.38rem; display: block;
}
.all_search_list_main{
    padding-bottom: 0.38rem;
    border-bottom: 1px solid rgb(154,154,154);
}
.all_search_list_main img{
    width: 1.7rem; height: 2.4rem; display: block;
    -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #ccc;
    -moz-box-shadow: 0.1rem 0.1rem 0.1rem #ccc;
    box-shadow: 0 0 0.2rem 0.01rem #ccc;
    margin-right: 0.25rem;
}
.all_search_list_title{
    width: 100%; height: 0.55rem; color: #333; font-size: 0.28rem;
}
.all_search_list_types{
    margin-bottom: 0.2rem;
}
.all_search_list_types span{
    display: block;
    font-size: 0.26rem; padding:0.03rem 0.15rem;
    -webkit-border-radius:0.05rem;
    -moz-border-radius:0.05rem;
    border-radius:0.05rem;
    border:1px solid rgb(154,154,154);
    margin-right:0.2rem;
}
.all_search_type1{
    color:rgb(154,154,154);
    border-color:rgb(154,154,154);
}
.all_search_type2{
    color:rgb(251,148,59);
    border-color:rgb(251,148,59);
}
.all_search_type3{
    color:rgb(65,187,119);
    border-color:rgb(65,187,119);
}
.all_search_last_p{
    font-size: 0.24rem; color: rgb(154,154,154);
    margin-bottom: 0.55rem;
}
.all_search_update_time,
.all_search_auth{
    font-size: 0.24rem; color: rgb(154,154,154);
}
.all_search_auth{
    width: 1.4rem; padding: 0 0.1rem;
}
.content .all_search_list:last-child .all_search_list_main{
    border-bottom: none;
}


.book_chapter_list{
    padding: 0 0.25rem;
    display: block;
}
.all_book_chapter_title{
    font-size: 0.28rem; color: #333;
    padding: 0.25rem 0;
    border-top:1px solid rgb(238,238,238);
}
.all_book_chapter_time{
    font-size: 0.28rem; color: rgb(154,154,154);
    padding-bottom: 0.25rem;
}




.index_list2_item{
    width: 33.33333%; height: 3.5rem; padding: 0.2rem 0; position: relative;
}
.index_list2_item_rank{
    position: absolute; top:0; left:0.3rem;
    width:0.48rem; height: 0.6rem;
    font-size: 0.26rem; color: #fff;
    text-align: center; line-height: 0.6rem;
}
.index_list2_item_rank_icon1{
    background: url(../image/mark1.png) no-repeat center center;
    -webkit-background-size:0.48rem 0.6rem;
    background-size:0.48rem 0.6rem;
}
.index_list2_item_rank_icon2{
    background: url(../image/mark2.png) no-repeat center center;
    -webkit-background-size:0.48rem 0.6rem;
    background-size:0.48rem 0.6rem;
}
.index_list2_item_rank_icon3{
    background: url(../image/mark3.png) no-repeat center center;
    -webkit-background-size:0.48rem 0.6rem;
    background-size:0.48rem 0.6rem;
}
.index_list2_item_name{
    font-size: 0.28rem; color: #333;
    padding:0.3rem 0.4rem 0 0.4rem;
}
.index_list2_item img{
    width: 1.7rem; height: 2.4rem; display: block;
    -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #ccc;
    -moz-box-shadow: 0.1rem 0.1rem 0.1rem #ccc;
    box-shadow: 0 0 0.2rem 0.01rem #ccc;
}


.all_my_center_money{
    font-size: 0.3rem; height: 1rem;
}
.all_my_center_money span{
    color:rgb(29,202,206);
    font-size:0.36rem;
    padding-left: 0.1rem;
    padding-right: 0.4rem;
    background: url(../image/money.png) no-repeat right center;
    -webkit-background-size:0.27rem 0.31rem;
    background-size:0.27rem 0.31rem;
}



.all_tab_main{
    width: 4.6rem; height: 0.7rem;
    margin: 0 auto; text-align: center; line-height: 0.7rem;
    border:1px solid rgb(251,148,59);
    font-size: 0.3rem;
    overflow: hidden;
    -webkit-border-radius:0.05rem;
    -moz-border-radius:0.05rem;
    border-radius:0.05rem;
}
.all_tab_item{
    width: 50%; display: block; color: rgb(251,148,59);
    background: #fff;
}
.all_tab_main .select{
    background: rgb(251,148,59); color:#fff;
}



.all_library_list{
    padding: 0.2rem 0.2rem 0 0.2rem; background: #fff; display: block;
}
.all_library_list_main{
    border-bottom: 1px solid #ccc; padding-bottom: 0.2rem;
}
.all_library_list_main img{
    display: block; width: 1.2rem; height: 1.7rem;
    margin-right: 0.3rem;
}
.all_library_list_title{
    font-size: 0.36rem; color: #333; line-height: 0.7rem;
}
.all_library_list_info{
    font-size: 0.26rem; color: rgb(154,154,154); line-height: 0.6rem;
}
.all_library_list_time{
    font-size: 0.22rem; color: rgb(154,154,154);
}
.all_library_list:last-of-type .all_library_list_main{
    border-bottom: none;
}



.all_ranking_list{
    padding: 0.15rem 0.15rem 0 0.15rem; height: 0.95rem; display: block;
}
.all_ranking_list_main{
    border-bottom: 1px solid #eee; padding-bottom: 0.15rem;
    height: 0.65rem;
}
.all_ranking_list_main p{
    font-size: 0.3rem; color: #333;
    padding-right: 0.4rem;
    background: url(../image/3j.png) no-repeat right center;
    -webkit-background-size:0.4rem 0.4rem;
    background-size:0.4rem 0.4rem;
}
.all_ranking_list_main span{
    display: block; width: 0.56rem; height: 0.56rem; text-align: center;
    line-height: 0.56rem; color: #fff;
    -webkit-border-radius:0.56rem;
    -moz-border-radius:0.56rem;
    border-radius:0.56rem;
    font-size: 0.24rem;
    margin-right: 0.2rem;
}
.all_ranking_list_icon4,
.all_ranking_list_icon5,
.all_ranking_list_icon6{
    background: rgb(29,202,206);
}
.all_ranking_list_icon7,
.all_ranking_list_icon8,
.all_ranking_list_icon9,
.all_ranking_list_icon10{
    background:rgb(180,181,182);
}