.top{
    width: 100%; height: 0.9rem; background: rgb(251,133,92);
    color: #fff; font-size: 0.3rem; overflow: hidden;
}
.top_logo{
    width: 1.5rem; height: 0.9rem; background: red;
}

.top_icons{
    width: 2.8rem; height: 0.9rem;
}
.top_icons a{
    margin: 0 0.15rem;
}
.top_home{
    display: block;
    width: 0.61rem; height: 0.61rem;
    background:url(../image/top/home.png) no-repeat center center;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.top_my{
    display: block;
    width: 0.57rem; height: 0.57rem;
    background: #fff;
    -webkit-border-radius:0.61rem;
    -moz-border-radius:0.61rem;
    border-radius:0.61rem;
    border: 0.02rem solid #fff;
    overflow: hidden;
}
.top_my img{
    width: 100%; height: 100%;
}
.top_dir{
    display: block;
    width: 0.61rem; height: 0.61rem;
    background:url(../image/top/lib.png) no-repeat center center;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.top_coll{
    display: block;
    width: 0.61rem; height: 0.61rem;
    background:url(../image/top/bookshelf.png) no-repeat center center;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}


.top_back{
    display: block; color: #fff;
    padding-left:0.3rem; margin-left: 0.06rem;
    background: url(../image/top/arrow_left.png) no-repeat left center;
    -webkit-background-size:0.3rem 0.3rem;
    background-size:0.3rem 0.3rem;

}
.top_pos{
    padding-left: 0.4rem;
}
.top_pos span{
    padding-right: 0.3rem;
    background: url(../image/top/arrow_right.png) no-repeat right center;
    -webkit-background-size:0.3rem 0.3rem;
    background-size:0.3rem 0.3rem;
}
.top_pos span:last-child{
    background: none;
}




.all_title{
    width: 100%; height: 0.8rem; background: #fff; position: relative;
}
.all_title_name{
    padding:0 0.4rem 0 0.5rem; font-size: 0.3rem; height: 0.8rem;
    position: relative; line-height: 0.82rem;
}
.all_title_icon:after{
    content: '';
    position: absolute; right: 0; top: 0;
    width: 0.24rem; height: 0.8rem;
    background:url(../image/hot.png) no-repeat center center;
    -webkit-background-size:0.24rem 0.27rem;
    background-size:0.24rem 0.27rem;
}
.all_title_refresh{
    position: absolute; right: 0; top: 0;
    width: 1rem; height: 0.8rem;
    padding-left: 0.3rem; line-height: 0.8rem;
    font-size: 0.26rem; color: rgb(154,154,154);
    background:url(../image/refresh.png) no-repeat left center;
    -webkit-background-size:0.21rem 0.21rem;
    background-size:0.21rem 0.21rem;
}
.all_title_type1{
    color: rgb(251,127,86);
    background: url(../image/title1.png) no-repeat 0.2rem center;
    -webkit-background-size:0.11rem 0.42rem;
    background-size:0.11rem 0.42rem;
}
.all_title_type2{
    color: rgb(70,195,127);
    background: url(../image/title2.png) no-repeat 0.2rem center;
    -webkit-background-size:0.11rem 0.42rem;
    background-size:0.11rem 0.42rem;
}
.all_title_type3{
    color: rgb(252,96,57);
    background: url(../image/title3.png) no-repeat 0.2rem center;
    -webkit-background-size:0.11rem 0.42rem;
    background-size:0.11rem 0.42rem;
}
.all_title_type4{
    color: rgb(29,202,206);
    background: url(../image/title4.png) no-repeat 0.2rem center;
    -webkit-background-size:0.11rem 0.42rem;
    background-size:0.11rem 0.42rem;
}



.all_kh_title{
    height: 0.9rem; line-height: 0.9rem;
    font-size: 0.3rem; padding-left: 0.5rem;
    background: url(../image/kh.png) no-repeat 0.11rem center;
    -webkit-background-size:0.29rem 0.25rem;
    background-size:0.29rem 0.25rem;
}
.all_kh_main{
    width: 100%; padding: 0.2rem 0 0.2rem 0;
}
.all_kh_main img{
    display: block; margin: 0 0.2rem;
    width: 1.55rem; height: 1.55rem;
}
.all_kh_row{
    line-height: 0.55rem; font-size: 0.24rem; color: #333;
    padding-left: 0.2rem;
}
.all_kh_row p{
    color: #999; padding-right: 0.1rem; display: inline-block;
}


.footer{
    width: 100%; text-align: center;
    font-size: 0.24rem; color: rgb(154,154,154);
    line-height: 0.34rem;
    padding: 0.2rem 0;
}