mixin menu()
    div(class='menu' style='display:none;')
        div(class='menu_main hover_animate')
            div(class='menu_close_btn')

            div(class='menu_item')
                a(href='#') HOME PAGE
                div(href='#') ART SHOW
                a(href='#') ARTIST
                a(href='#') GALLERY
                a(href='#') ABOUT AURA
                a(href='#') MAP




