/*顶部*/
.top{
    width: 100%; height: 60px; z-index: 50;
    position: fixed; left:0; top:0;
    /*background: #000;*/
}
.top_left{
    width: 60px; height: 60px;
    background-image: url(../image/home.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size:11px 20px;
    background-size:11px 20px;
    cursor: pointer;
    background-color: #000;
}
.top_center{
    display: none;
}
.top_left:hover{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
.top_right{
    width: 60px; height: 60px;
    position: absolute; right: 5px; top: 0;
    background-image: url(../image/menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
    -webkit-background-size:15px 15px;
    background-size:15px 15px;
    cursor: pointer;
}
.top_right:hover{
    -webkit-transform: rotate(-90deg) scale(0.8);
    -moz-transform: rotate(-90deg) scale(0.8);
    -ms-transform: rotate(-90deg) scale(0.8);
    -o-transform: rotate(-90deg) scale(0.8);
    transform: rotate(-90deg) scale(0.8);
}
._top{
    width: 100%; height: 60px;
}

.isBai{
    background: rgb(246,245,243);
}
.isBai .top_left{
    background: url(../image/menu_.png) no-repeat center  center;
    -webkit-background-size:11px 20px;
    background-size:11px 20px;
}
.isBai .top_right{
    background: url(../image/home_.png) no-repeat center center;
    -webkit-background-size:15px 15px;
    background-size:15px 15px;
}


/*菜单*/
.menu{
    position: fixed; left:0; top:0; width: 100%; height: 100%;
    z-index: 100; background: rgba(0,0,0,0);
}
.menu_main{
    position: absolute; left: 100%; width: auto; top:0;
    padding: 65px 40px; background: #181818;
    color: #fff; height: 100%;
    /*-webkit-transform: translateX(-100%);*/
    /*-moz-transform: translateX(-100%);*/
    /*-ms-transform: translateX(-100%);*/
    /*-o-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
}
.menu_close_btn{
    width: 30px; height: 30px;
    position: absolute; left:7px; top:7px;
    background: url(../image/close.png) no-repeat center center;
    -webkit-background-size:14px 14px;
    background-size:14px 14px;
    cursor: pointer;
}
.menu_close_btn:hover{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
.menu_item{
    min-width: 120px;
}
.menu_item a{
    display: block; color: #fff;
    word-break: keep-all;
    height: 26px;
    text-align: left;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    margin-top:30px;
    padding: 0 2px;
}
.menu_item .notSelect{
    color: rgb(190,141,118);
    /*border-bottom: 2px solid rgb(190,141,118);*/
    display: inline-block;
    cursor: default;
}

.menu_border,
.menu_texts,
.menu_bg{
    display: none;
}



@media screen and (min-width: 800px) {
    .top{
        width:60px; height: 100%;
    }
    .top_right{
        display: none;
    }
    .top_center{
        width: 200px; height: 45px; position: absolute;
        left:-77px; top:50%; margin-top: -22px; display: block;
        line-height: 60px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        color:#fff;
        letter-spacing: 6px;
    }
    ._top{
        display: none;
    }
    .menu{
        left:60px; right:0; width:auto;
    }
    .menu_main{
        width: 100%; height: 100%; padding-left: 50%;
        padding-right: 25%; text-align: center;
    }
    .menu_main a{
        text-align: center;
    }
    .menu_close_btn{
        display: none;
    }
    .menu_item{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 25%;
        height: 350px;
        margin-top: -175px;
        text-align: center;
        z-index: 10;
    }

    .menu_border{
        position: absolute; left:50%; right: 25%;
        top:0; bottom:0; display: block;
        border-left: 1px solid #333;
        border-right:1px solid #333;
    }
    .menu_border_left{
        position: absolute;
        left: 0;
        top: -150px;
        width: 1px;
        height: 75px;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
        -webkit-animation:top_down 6s cubic-bezier(0.4, 0.26, 0, 0.97) 0s infinite forwards;
        -o-animation:top_down 6s cubic-bezier(0.4, 0.26, 0, 0.97) 0s infinite forwards;
        animation:top_down 6s cubic-bezier(0.4, 0.26, 0, 0.97) 0s infinite forwards;
    }
    .menu_border_right{
        position: absolute;
        right: 0;
        top: -150px;
        width: 1px;
        height: 75px;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
        -webkit-animation:top_down 6s cubic-bezier(0.4, 0.26, 0, 0.97) 1s infinite forwards;
        -o-animation:top_down 6s cubic-bezier(0.4, 0.26, 0, 0.97) 1s infinite forwards;
        animation:top_down 6s cubic-bezier(0.4, 0.26, 0, 0.97) 1s infinite forwards;
    }


    .menu_texts{
        display: block; position: absolute; left:75%; top: 50%;
        width: 25%; height: 40px; margin-top: -20px;
        color: #666; font-size: 10px;
        text-align: left; padding-left: 40px;
        line-height: 20px; letter-spacing: 4px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .menu_texts:before{
        content: '';
        position: absolute; left:0; top: 50%;
        width: 10px; height: 16px; margin-top: -8px;
        border-left: 1px solid #666;
    }
    .menu_bg{
        display: block;
        width: 50%; height: 100%;
        position: absolute; left:0; top:0;
        background: red;
    }

}


@-webkit-keyframes top_down {
    0% {
        top: -150px;
    }
    60% {
        top: calc(100% + 150px);
    }
    100% {
        top: calc(100% + 150px);
    }
}
@-moz-keyframes top_down {
    0% {
        top: -150px;
    }
    60% {
        top: calc(100% + 150px);
    }
    100% {
        top: calc(100% + 150px);
    }
}
@-o-keyframes top_down {
    0% {
        top: -150px;
    }
    60% {
        top: calc(100% + 150px);
    }
    100% {
        top: calc(100% + 150px);
    }
}
@keyframes top_down {
    0% {
        top: -150px;
    }
    60% {
        top: calc(100% + 150px);
    }
    100% {
        top: calc(100% + 150px);
    }
}




