/*顶部*/
.top{
    width: 100%; height: 45px; z-index: 50;
    position: fixed; left:0; top:0; background: #000;
}
.top_left{
    width: 45px; height: 45px;
    background: url(../image/home.png) no-repeat center  center;
    -webkit-background-size:11px 20px;
    background-size:11px 20px;
    cursor: pointer;
}
.top_left:hover{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
.top_right{
    width: 45px; height: 45px;
    position: absolute; right: 5px; top: 0;
    background: url(../image/menu.png) no-repeat center center;
    -webkit-background-size:15px 15px;
    background-size:15px 15px;
    cursor: pointer;
}
.top_right:hover{
    -webkit-transform: rotate(-90deg) scale(0.8);
    -moz-transform: rotate(-90deg) scale(0.8);
    -ms-transform: rotate(-90deg) scale(0.8);
    -o-transform: rotate(-90deg) scale(0.8);
    transform: rotate(-90deg) scale(0.8);
}
._top{
    width: 100%; height: 45px;
}

.isBai{
    background: rgb(246,245,243);
}
.isBai .top_left{
    background: url(../image/menu_.png) no-repeat center  center;
    -webkit-background-size:11px 20px;
    background-size:11px 20px;
}
.isBai .top_right{
    background: url(../image/home_.png) no-repeat center center;
    -webkit-background-size:15px 15px;
    background-size:15px 15px;
}


/*菜单*/
.menu{
    position: fixed; left:0; top:0; width: 100%; height: 100%;
    z-index: 100; background: rgba(0,0,0,0);
}
.menu_main{
    position: absolute; left: 100%; width: auto; top:0;
    padding: 65px 40px; background: #181818;
    color: #fff; height: 100%;
    /*-webkit-transform: translateX(-100%);*/
    /*-moz-transform: translateX(-100%);*/
    /*-ms-transform: translateX(-100%);*/
    /*-o-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
}
.menu_close_btn{
    width: 30px; height: 30px;
    position: absolute; left:7px; top:7px;
    background: url(../image/close.png) no-repeat center center;
    -webkit-background-size:14px 14px;
    background-size:14px 14px;
    cursor: pointer;
}
.menu_close_btn:hover{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
.menu_item{
    min-width: 120px;
}
.menu_item a{
    display: block; color: #fff;
    word-break: keep-all;
    height: 26px;
    text-align: left;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    margin-top:30px;
    padding: 0 2px;
}
.menu_item .notSelect{
    color: rgb(190,141,118);
    /*border-bottom: 2px solid rgb(190,141,118);*/
    display: inline-block;
    cursor: default;
}





@media screen and (min-width: 1025px) {
    .top{
        /*width: 100%; height: 90px; background: green;*/
    }
    ._top{
        /*width: 100%; height: 90px;*/
    }



}



