body,html{
    width: 100%; height: 100%; min-height: 500px;
}
.index_page{
    width:100%; height: 100%; position: absolute;
    left:0; top:0; padding-top: 45px;
    background: url(../image/index/bg.png) no-repeat bottom center;
    -webkit-background-size:320px 270px;
    background-size:324px 277px;
}
.index_logo{
    width: 177px;
    height: 91px;
    background: url(../image/index/title.png) no-repeat center center;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.index_open{
    width: 159px; height: 37px;
    color: #ccc;
    border:1px solid #ccc;
    font-size: 12px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    text-align: center; line-height: 35px;
    letter-spacing: 2px;
    margin: 0 auto;
    margin-top:40px;
    cursor: pointer;
}


body{
    /*background: url();*/
}

.index_slide,
.index_img{
    display: none;
}


@media screen and (min-width: 800px) {
    .index_page{
        position: relative; background: none;
    }
    .index_logo{
        width: 354px; height: 282px;
        -webkit-background-size:100% 182px;
        background-size:100% 182px;
        background-position: top center;
        position: absolute;
        left:55%; top:50%; margin-top: -141px;
    }
    .index_open{
        display: none;
    }

    .index_slide{
        display: block;
        position: absolute; bottom: 40px; left:10px;
        width: 180px; height: 1px;
        background: -moz-linear-gradient(left, #eee 0%, rgba(24, 24, 24, 0.5) 100%);
        background: -webkit-linear-gradient(left, #eee 0%, rgba(24, 24, 24, 0.5) 100%);
        background: linear-gradient(to left, #eee 0%, rgba(24, 24, 24, 0.5) 100%);
    }
    .index_slide:after{
        content: '';
        width: 100%; height: 0; position: absolute; left:0; top:0;
        border-top:1px dashed #000;
    }
    .index_slide_y{
        width: 20px; height: 20px;
        background: #fff;
        position: absolute; left:-10px; top:-10px; z-index: 10;
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        border-radius:20px;
    }
    .index_slide_y:after{
        content: ''; display: block;
        position: absolute; left:-10px; top:-10px;
        width: 40px;
        height: 40px;
        -webkit-border-radius:100%;
        -moz-border-radius:100%;
        border-radius:100%;
        background-color: rgba(255,255,255,0.1);
        /*-webkit-box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.5);*/
        /*-moz-box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.5);*/
        /*box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.5);*/

    }
    .index_slide_text{
        position: absolute; right: -164px; top:-12px;
        color: #fff;
        -webkit-animation:show_hide 1s linear 0s infinite alternate;
        -o-animation:show_hide 1s linear 0s infinite alternate;
        animation:show_hide 1s linear 0s infinite alternate;
    }


    .index_img{
        display: block;
        position: absolute; left:5%; top:0; bottom: 0;
        width: 40%;
    }
    .index_img img{
        width: 100%;
    }

}
