.show_titleM{
    float: left; max-width: 100%; width: auto;
    text-align: right;
}
.show_title{
    max-width:100%;
    display: inline-block;
    padding: 50px 20px 0 20px;
    font-size: 32px; color: #fff;
    letter-spacing: 3px;
}
.show_number{
    max-width:100%;
    display: inline-block;
    padding: 1px 20px 20px 20px;
    text-align: right;
    color: rgb(190,141,118);
    font-size: 16px;
}
.show_number div{
    font-size: 18px;
    display: inline-block;
}
.show_number p{
    display: inline-block;
}

.show_list{
    padding: 20px;
}
.show_item{
    display: block; line-height: 120%;
}
.show_item_time{
    font-size: 12px; color: #555; padding: 1px 0;
}
.show_item_title,
.artist_item_title{
    font-size: 18px; color: #fff; word-break: break-all;
    padding: 1px 0;
}
.show_item_info{
    font-size: 14px; color: #555; word-break: break-all;
    padding: 1px 0;
}
.show_item_line{
    width: 35px; border-top:2px solid #555;
    height: 0; margin: 14px 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}
.show_img{
    width: 270px; height: 160px; margin-bottom: 35px;
}
.show_img img{
    width: 100%; height: 100%;
}

.show_list .active p{
    color: #fff;
    border-color:#fff;
}
.show_list .active .show_item_line{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}




.artist_item_name{
    width: auto; text-align: right;
    float: left;
    max-width:100%;
}
.artist_item_name div,
.artist_item_name p{
    display: inline-block;
    max-width:100%;
    font-size: 18px;
}


.artist_info_number{
    color: rgb(206,71,74);
}
.artist_info_item{
    width: 100%;
    max-width:600px;
    margin:0 auto;
    margin-bottom: 10px;
}
.artist_info_item img{
    width: 100%;
}



.pavilion_main{
    width: 100%; height: 100%;
    position: absolute; left:0; top:0;
    padding-top: 45px;
    overflow: hidden;
}
.pavilion_body{
    position: relative; left:0; top:0;
    height: 100%;
}
.pavilion_body img{
    height: 100%; display: block;
}
.pavilion_main_btn{
    position: absolute; bottom: 10px; left:0;
    width: 100%; height: 60px; padding: 10px 0;
    background: rgba(0,0,0,0.4);
}
.pavilion_main_btns{
    width: 200px;
}
.pavilion_btns_left{
    width: 40px; height: 40px;
    background: url(../image/arrow.png) no-repeat -5px center;
    -webkit-background-size:36px 32px;
    background-size:36px 32px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.pavilion_btns_right{
    width: 40px; height: 40px;
    background: url(../image/arrow.png) no-repeat -5px center;
    -webkit-background-size:36px 32px;
    background-size:36px 32px;
}
.pavilion_btns_text{
    color: #eee; text-align: center; line-height: 120%;
    font-size: 14px; letter-spacing: 2px;
}
.pavilion_btns_text p{
    font-size: 12px; color: #eee;
    letter-spacing: 5px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}


.contact_title{
    font-size: 36px; color: #eee; text-align: center;
    padding: 40px 0 20px 0; letter-spacing: 2px;
}
.contact_map{
    width: 180px; height: 35px; line-height: 33px;
    border:1px solid #eee; color: #eee;
    cursor: pointer;
    text-align: center; margin: 0 auto;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom: 40px;
}
.contact_main{
    padding-top: 20px; text-align: center; line-height: 150%;
}
.contact_t{
    font-size: 12px; color: #666;
}
.contact_main p,
.contact_main a{
    display: block;
    font-size: 16px; color: #eee; padding-bottom: 20px;
}


.show_info_body{
    position: relative;
}
.show_info_top{
    position: relative; z-index: 10;
}
.show_info_bg{
    position: absolute; left:0; top:0;
    z-index: 0;
    width: 100%; height: 100%;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.show_info_bg_main{
    width:100%; height: 100%;
    background: rgba(0,0,0,0.3);
}

.show_info_top_main{
    position: relative; z-index: 1; text-align: center;
}
.show_info_top_title{
    padding: 50px 20px 10px 20px; color: #eee; font-size: 30px;
    word-break: break-all; letter-spacing: 2px;
}
.show_info_top_info{
    padding: 0 20px 10px 20px; font-size: 12px; color: #eee;
    word-break: break-all;
}
.show_info_top_address,
.show_info_top_name,
.show_info_top_time{
    padding: 0 20px 10px 20px; font-size: 20px; color: rgb(255,210,174);
    word-break:break-all; letter-spacing: 1px;
}

.show_info_top_img{
    padding: 10px; min-height: 50px;

}
.show_info_top_img img{
    width: 100%; height: 100%;
    -webkit-box-shadow: 0 0 3px 3px #000;
    -moz-box-shadow: 0 0 3px 3px #000;
    box-shadow: 0 0 3px 3px #000;
}

.show_info_bottom{
    position: relative; z-index: 5; top:-80px; background: rgb(55,55,55);
    padding: 90px 20px 20px 20px;
}
.show_info_bottom_text{
    font-size: 12px; color: #eee; word-break: break-all; line-height: 150%;
}


.show_info_footer{
    position: absolute; left:0; bottom:0; background: rgb(55,55,55);
    width: 100%; height: 80px;
}
.show_info_bottom_btn{
    width:80%; height: 35px; line-height: 33px; color: #eee;
    font-size: 16px; text-align: center; margin: 0 auto;
    border:1px solid #eee; display: block; letter-spacing: 2px;
    margin-top: 50px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.show_info_bottom_info{
    padding: 0 5%; color: #eee; font-size: 16px; text-align: center;
    height: 45px; line-height: 45px;
}
.show_info_bottom_info span{
    display: inline-block; width: 10%;
}


.contact_map_body{
    display: none; opacity: 0;
    position: fixed; left:0; top:0; z-index: 100;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.9);
}
.contact_map_img{
    width: 270px; height: 224px;
    background: url(../image/map.png) no-repeat center center;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    margin: 100px auto 80px auto;
}
.contact_map_title{
    text-align: center; font-size: 16px;
}
.contact_map_info{
    margin-top: 20px;
    text-align: center; font-size: 16px; color:rgb(255,210,174);
    line-height: 150%;
}